$title-font: normal 24px/1.5 'Open Sans',
sans-serif;
$cool-red: #F44336;

h1.title {
  font: $title-font;
  color: $cool-red;
}

@mixin square($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
}

.small-blue-square {
  @include square(20px, rgb(0, 0, 255));
}

.big-red-square {
  @include square(300px, rgb(255, 0, 0));
}